:root {
    --theme-blue: #3A53A4;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    /* box-shadow: 0 0 0 1px plum; */
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Graphik', sans-serif;
}

/** Header container that holds nav */
#header-container {
    position: sticky;
    top: -1px;
    margin: 1.8rem;
    margin-bottom: 0;
    background-color: var(--theme-blue);
    color: white;
    box-shadow: 0px 4px 5px grey;
}
#header-container.home {
    box-shadow: 0 0 0;
}

/** Navigation bar */
#nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5.5rem;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 7rem;
    height: 15rem;
    transition: height, 0.1s;
}
#nav-container.is-pinned {
    height: 10rem;
}


/* Text Links */
#nav-container span > a {
    padding: 2rem 0;
    font-size: 2.2rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

/* Logo */
#nav-container :first-child {
    margin-right: auto;
    height: 100%;
}
#nav-container :first-child img {
    display: block;
    height: 100%;
}

/* Active page */
#nav-container .active {
    font-weight: bold;
}

/* White button */
#nav-container .white-btn {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    background-color: white;
    border-radius: 0.8rem;
    color: var(--theme-blue);
}